## Twitter Sentiment Analysis Project.

Model = Random Forest Classifier
Steps:

Dataset Analysis

Data preprocessing

Data Visualization

Word cloud visualization

Data Cleaning

Model building and Testing

Sentiment analysis also known as opinion mining is the process of computationally determining whether a piece of writing is positive, negative or neutral.

### Pros of Random Forest Classifier

<ol>It is a very accurate algorithm</ol>

<ol>It is robust to outliers and nonlinear data</ol>

<ol>It is highly scalable to any dataset. It can handle large datasets</ol>

<ol>It can handle missing values efficiently</ol>

<ol>It can be used for feature selection</ol>

### Cons of Random Forest Classifier

<ol>It can be computationally expensive when there are lots of trees</ol>

Datasets: https://github.com/luch91/Machine-Learning-Datasets

https://github.com/laxmimerit/preprocess_kgptalkie

Load dataset
Feature extraction
data visualization
data cleaning
model building
model training
model evaluation
model saving
streamlit application deploy

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/luch91/Machine-Learning-Datasets/main/twitter_sentiment.csv", 
            header=None, index_col=0)
df.head(10)

                1         2                                                  3
0
2401  Borderlands  Positive  im getting on borderlands and i will murder yo...
2401  Borderlands  Positive  I am coming to the borders and I will kill you...
2401  Borderlands  Positive  im getting on borderlands and i will kill you ...
2401  Borderlands  Positive  im coming on borderlands and i will murder you...
2401  Borderlands  Positive  im getting on borderlands 2 and i will murder ...
2401  Borderlands  Positive  im getting into borderlands and i can murder y...
2402  Borderlands  Positive  So I spent a few hours making something for fu...
2402  Borderlands  Positive  So I spent a couple of hours doing something f...
2402  Borderlands  Positive  So I spent a few hours doing something for fun...
2402  Borderlands  Positive  So I spent a few hours making something for fu...

#### Reset index

In [3]:
df = df[[2,3]].reset_index(drop=True)
df

                2                                                  3
0        Positive  im getting on borderlands and i will murder yo...
1        Positive  I am coming to the borders and I will kill you...
2        Positive  im getting on borderlands and i will kill you ...
3        Positive  im coming on borderlands and i will murder you...
4        Positive  im getting on borderlands 2 and i will murder ...
...           ...                                                ...
75677  Irrelevant  ⭐️ Toronto is the arts and culture capital of ...
75678  Irrelevant  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
75679    Positive  Today sucked so it’s time to drink wine n play...
75680    Positive  Bought a fraction of Microsoft today. Small wins.
75681     Neutral  Johnson & Johnson to stop selling talc baby po...

[75682 rows x 2 columns]

#### Assign Column Names to DataFrame

In [4]:
df.columns = ["sentiment", "text"]
df.head(10)

  sentiment                                               text
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  I am coming to the borders and I will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...
5  Positive  im getting into borderlands and i can murder y...
6  Positive  So I spent a few hours making something for fu...
7  Positive  So I spent a couple of hours doing something f...
8  Positive  So I spent a few hours doing something for fun...
9  Positive  So I spent a few hours making something for fu...

#### Basic Aanlysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75682 entries, 0 to 75681
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  75682 non-null  object
 1   text       74996 non-null  object
dtypes: object(2)
memory usage: 1.2+ MB

In [6]:
df.isnull().sum()

sentiment      0
text         686
dtype: int64

In [8]:
df.sample(10)  # random samples

        sentiment                                               text
45458    Negative  @ verizon your commercials include men who hav...
9421   Irrelevant  LMFAO... man, these xtwats will be plentiful c...
74758    Positive  oooooh shit i think my motherboard is already ...
60753  Irrelevant  A good video to learn what to test gta 5 on a ...
42344  Irrelevant                                          Yet fails
72539    Negative  OH GOD. That even on your @nvidia fps drivers,...
25838    Positive  I'm slowly working on the platinum at Assasin'...
10104    Positive  I've concluded that the £449 price tag for the...
27208    Positive  I Hands up. I wanna hopefully see who is excit...
7594     Positive  twitch. or tv / africanbattler … I too can tot...

In [9]:
df.dropna(inplace=True)

In [10]:
df["text"].apply(len).value_counts()

text
70     611
3      566
2      500
36     485
57     480
      ...
418      1
434      1
394      1
427      1
374      1
Name: count, Length: 403, dtype: int64

In [11]:
# the sum of rows with data lengh > 5 and <=5

sum(df["text"].apply(len)>5), sum(df["text"].apply(len)<=5)

(72883, 2113)

In [12]:
print(df.shape)
df = df[df["text"].apply(len)>5]
print(df.shape)

(74996, 2)
(72883, 2)

#### Sentiment Value Counts

In [13]:
df["sentiment"].value_counts()

sentiment
Negative      22020
Positive      20186
Neutral       17899
Irrelevant    12778
Name: count, dtype: int64